{% load i18n static %}

<footer class="footer">
    <div class="footer-divider"></div>
    <div class="footer-info-container">
        <div class="text-base">
            &copy; 2025 <a target="_blank" rel="noopener noreferrer" class="footer-text"
                           href="https://github.com/PanVat/FreeVat">FreeVat</a>
        </div>
        <div>
            <a target="_blank" rel="noopener noreferrer" class="footer-text" href="https://github.com/PanVat/FreeVat">Indev
                0.0.7</a>
        </div>
    </div>
</footer>