<!-- Patička webu -->
<footer class="footer">
    <div class="footer-divider"></div>
    <div class="footer-info-container">
        <div class="text-base">
            <!-- Název webu (otevře se v novém okně) -->
            &copy; 2025 <a target="_blank" rel="noopener noreferrer" class="footer-text"
                           href="https://github.com/PanVat/FreeVat">FreeVat</a>
        </div>
        <div>
            <!-- Aktuální verze (otevře se v novém okně) -->
            <a target="_blank" rel="noopener noreferrer" class="footer-text" href="https://github.com/PanVat/FreeVat">Alpha_1.0.0</a>
        </div>
    </div>
</footer>