/* Celá stránka */
.main {
    @apply items-center px-4;
}

/* Obsahuje nadpisy na stránce */
.main-header {
    @apply my-12;
}

/* Hlavní nadpis */
.main-header h1 {
    @apply text-center text-5xl font-bold tracking-tight;
}

/* Úvodní 3D scéna s tlačítkem */
.intro-scene {
    @apply relative w-full h-96 mb-12;
}

/* Podnadpis */
.main-header p {
    @apply mt-4 text-center text-3xl text-gray-300;
}

/* Úvodní kontejner (obsahuje 3D scénu a nadpis) */
.intro-container {
    @apply flex max-w-7xl mx-auto mb-5 gap-x-20;
}

/* První podkontejner s obsahem */
.intro-content {
    @apply bg-black flex-1 p-8 shadow-xl;
}

/* Druhý podkontejner (3D scéna) */
.intro-scene {
    @apply bg-black flex-1 shadow-xl;
}

/* TLAČÍTKA S KATEGORIEMI */
.button-category {
    @apply category-button w-full flex items-center justify-between p-4 bg-white border border-gray-200;
    @apply rounded-xl transition duration-300 ease-in-out hover:bg-indigo-50 hover:border-indigo-500;
}


/* Feature container */
.feature-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-4 max-w-7xl mx-auto mt-10;
}

/* Feature cards */
.feature-card {
    @apply items-center bg-white p-8 rounded-2xl shadow-xl border border-gray-100 text-center;
}

/* Feature icons */
.feature-icon {
    @apply text-5xl mb-6 flex justify-center;
}

/* Ikonka */
.feature-icon img {
    @apply w-12;
}

/* Feature card headings */
.feature-card h3 {
    @apply text-xl font-bold text-gray-900 mb-4;
}

/* Feature card paragraphs */
.feature-card p {
    @apply text-gray-600 leading-relaxed;
}