/* Celá stránka */
.main {
    @apply items-center px-12;
}

/* Obsahuje nadpisy na stránce */
.main-header {
    @apply my-12;
}

/* Hlavní nadpis */
.main-header h1 {
    @apply text-center text-3xl font-bold tracking-tight;
    @apply sm:text-4xl lg:text-5xl xl:text-5xl;
}

/* Podnadpis */
.main-header p {
    @apply mt-4 text-center text-xl text-gray-300;
    @apply sm:text-2xl lg:text-3xl xl:text-3xl;
}

/* Carousel wrapper */
.carousel-wrapper {
    @apply relative flex items-center;
}

/* Kontejner, který obsahuje jednotlivé kategorie */
.categories-carousel {
    @apply flex-1 overflow-x-auto scroll-smooth mx-5;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Skupina tlačítek s kategoriemi */
.carousel-group {
    @apply flex gap-4 justify-start items-center;
}

/* TLAČÍTKA S KATEGORIEMI */
.carousel-card {
    @apply flex justify-center items-center rounded-full w-fit px-6 py-2
    border-[#60696c] border-2 flex-shrink-0
    hover:border-white cursor-pointer;
}

/* Tlačítka s kategoriemi - text */
.carousel-card span {
    @apply text-lg font-medium text-white px-3 whitespace-nowrap;
}

/* Tlačítka s kategoriemi - ikony */
.carousel-card img {
    @apply w-6 h-6;
}

/* Přidejte tyto styly k vašim existujícím */
.carousel-arrow.arrow-hidden {
    opacity: 0;
    visibility: hidden;
}

/* Normální stav šipek */
.carousel-arrow {
    @apply absolute z-10 flex items-center justify-center text-white cursor-pointer;
}

.carousel-arrow-left {
    left: -1.5rem;
}

.carousel-arrow-right {
    right: -1.5rem;
}

.arrow-icon {
    @apply w-8 h-8;
}

/* FEATURE KARTY */

/* Feature container */
.feature-container {
    @apply grid grid-cols-1 mt-10 gap-6;
    @apply sm:grid-cols-2;
    @apply lg:grid-cols-2 lg:mt-20 lg:gap-10;
    @apply xl:grid-cols-4;
}

/* Feature cards */
.feature-card {
    @apply flex flex-col items-center bg-[#3B4042] p-8 rounded-2xl shadow-xl text-center h-full;
}

/* Feature icons */
.feature-icon {
    @apply text-5xl mb-6 flex justify-center;
}

/* Ikonka */
.feature-icon img {
    @apply w-12;
}

/* Feature card headings */
.feature-card h3 {
    @apply text-xl font-bold mb-6;
}

/* Feature list */
.feature-list {
    @apply w-full mb-6 flex-grow text-left;
}

/* Feature list item */
.feature-list-item {
    @apply flex items-start p-2;
}

/* Check icon */
.check-icon {
    @apply mr-3 w-7 h-7;
}

/* Feature button */
.feature-button {
    @apply py-2 px-4 duration-150 rounded-md text-base justify-center w-full;
    @apply hover:opacity-90 bg-[#222222] shadow-sm;
}

/* Nejnovější nahrané 3D modely */
.latest-models-section {
    @apply mt-16 mb-10 mx-auto;
}

/* Nadpis sekce */
.latest-models-heading {
    @apply text-3xl font-bold mb-8 text-left;
}

/* Mřížka s nejnovějšími modely */
.latest-models-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6;
}