@import "tailwindcss";

/* Jednotlivé moduly */

/* Základní struktura stránky */
@import './base/navbar.css';
@import './base/header.css';
@import './base/footer.css';

/* Uživatelské formuláře */
@import './users/form.css';
@import './users/socials.css';

/* Jednotlivé stránky */
@import './index.css';

/* Vlastní fonty */
@theme {
    --font-oswald: 'Oswald', 'sans-serif';
    --font-zalando: 'Zalando Sans', 'sans-serif';
}

@layer components {
    /* Celá stránka - globální nastavení (barva, font..) */
    body {
        @apply bg-[#222222] text-white font-zalando;
    }

    /* Obecné tlačítko */
    .button {
        @apply py-2 px-4 duration-150 rounded-md text-base;
        @apply hover:opacity-90;
    }
}

@source "../../../**/*.{html,py,js}";