@import "tailwindcss";

/* VŠECHNY CSS MODULY */

/* Základní struktura stránky */
@import './base/navbar.css';
@import './base/header.css';
@import './base/footer.css';

/* Uživatelské formuláře */
@import './forms/forms.css';
@import './users/socials.css';

/* Uživatelský profil */
@import './users/profile.css';

/* Jednotlivé stránky */
@import './pages/index.css';
@import './pages/404.css';
@import './models/model_list.css';
@import './models/model_detail.css';
@import './models/user_models_all.css';

/* Vlastní fonty */
@theme {
    --font-oswald: 'Oswald', 'sans-serif';
    --font-zalando: 'Zalando Sans', 'sans-serif';
}

@layer components {
    /* Celá stránka - globální nastavení (barva, font..) */
    body {
        @apply bg-[#222222] text-white font-zalando;
    }

    /* Obecné tlačítko */
    .button {
        @apply py-2 px-4 duration-150 rounded-md text-base text-center justify-center;
        @apply hover:opacity-90 bg-[#3B4042] cursor-pointer;
    }
}

@source "../../../**/*.{html,py,js}";