# Virtuální prostředí
.venv/
.env

# Python cache
*.pyc
*.pyo
__pycache__/
*.pyd

# Node
node_modules/
package-lock.json

# PyCharm
.idea/

# VS Code
.vscode/

# Migrace
freevat/migrations/*.*
users/migrations/*.*

# Media (uložená data z databáze)
media/models/models/*
media/models/thumbnails/*
media/users/avatars/*

# Ponechání prázdných složek
!media/models/models/.gitkeep
!media/models/thumbnails/.gitkeep
!media/users/avatars/.gitkeep


