# Virtuální prostředí
.venv/
.env

# Python cache
*.pyc
*.pyo
__pycache__/
*.pyd

# Node
node_modules/

# PyCharm
.idea/

# VS Code
.vscode/

# Data z databáze
media/**/*

# Ponechání prázdných složek
!media/**/.gitkeep

# Migrace
freevat/migrations/*.*
users/migrations/*.*