# Virtuální prostředí
.venv/
.env

# Python cache
*.pyc
*.pyo
__pycache__/
*.pyd

# Node
node_modules/
package-lock.json

# PyCharm
.idea/

# VS Code
.vscode/

# Migrace
freevat/migrations/*.*
users/migrations/*.*