/* Celá stránka */
.main {
    @apply flex flex-col md:flex-row items-center px-4;
}

/* Levá sekce s textem a tlačítky */
.content {
    @apply h-50 md:w-1/2 text-white flex flex-col justify-center;
}

/* Nadpisy */
.title-section {
    @apply mb-12;
}

/* Hlavní nadpis */
.main-heading{
    @apply text-4xl font-oswald;
}

/* Podnadpis */
.sub-heading {
    @apply text-xl font-zalando opacity-80 mt-2;
}

/* Tlačítka */
.buttons {
    @apply flex space-x-4 mt-8;
}

/* Tlačítko 'Explore' */
.button-explore {
    @apply bg-blue-600 text-purple-800 font-bold py-3 px-6 rounded hover:bg-blue-700 transition duration-300;
}

/* Tlačítko 'Upload' */
.button-upload {
    @apply bg-transparent text-white font-bold py-3 px-6 rounded border border-white hover:bg-white hover:text-gray-900 transition duration-300;
}

/* Úvodní 3D model */
.model {
    @apply w-full md:w-1/2 h-100 bg-black;
}