/* Layout stránky 404 */
.layout-404 {
    @apply flex flex-col items-center justify-center min-h-[70vh] text-center px-4 py-10;
}

/* Ikonka */
.icon-404 {
    @apply w-36 h-36 opacity-50 mx-auto;
}

/* Nadpis */
.title-404 {
    @apply text-3xl md:text-4xl font-semibold text-white mb-4;
}

/* Podnadpis */
.subheading-404 {
    @apply text-gray-400 text-lg mb-8;
}

/* Tlačítko */
.button-404 {
    @apply py-3 px-5 duration-150 rounded-md text-xl text-center justify-center;
    @apply hover:opacity-90 bg-blue-900 cursor-pointer;
}