/* Celá stránka */
.models-full-page{
    @apply px-4;
}

/* Nadpis a řazení modelů */
.models-sort-container{
    @apply flex justify-between items-center py-8;
}

/* Nadpis stránky podle kategorie */
.models-category-title{
    @apply text-3xl font-bold text-white;
}

/* Dropdown pro řazení modelů */
.models-sort-dropdown{
    @apply relative z-20;
}