/* Celá stránka */
.model-detail-page {
    @apply px-4 text-white;
}

/* Kontejner pro celou horní sekci */
.model-detail-upper-section {
    @apply grid grid-cols-1 lg:grid-cols-4 gap-4 my-4 items-stretch;
}

/* 3D scéna - Hlavní obal */
.model-3d-scene {
    @apply lg:col-span-3 bg-[#1A1A1A] rounded-md overflow-hidden shadow-sm w-full relative;
    min-height: 600px;
    height: 100%;
}

/* Vnitřní obal Three.js (ID model-container) */
#model-container {
    @apply w-full h-full min-h-[450px] relative z-0 block;
}

/* Box s tlačítky pro fullscreen a reset kamery */
.model-scene-buttons {
    @apply absolute bottom-4 right-4 flex gap-2 z-30;
}

/* Tlačítka */
.model-scene-button {
    @apply w-10 h-10 text-white rounded-lg flex items-center justify-center;
    @apply hover:scale-110 transition-transform cursor-pointer;
}

.model-scene-button img {
    @apply w-7 h-7;
}

/* 3D scéna (načítání) */
.model-scene-loading {
    @apply absolute inset-0 flex items-center justify-center bg-[#1A1A1A] z-20;
}

/* Načítací kolečko */
.model-scene-loader {
    @apply w-12 h-12 border-4 border-blue-400 border-t-transparent rounded-full animate-spin mx-auto mb-4;
}

/* Navrhované modely */
.related-models-container {
    @apply flex flex-col gap-6 h-full bg-[#1A1A1A] rounded-md p-6;
}

/* Žádné navrhované modely */
.related-models-empty {
    @apply flex items-center justify-center h-full bg-[#1A1A1A] rounded-md p-6 text-center;
}

/* Upozornění o žádných nenalezených modelech */
.related-models-empty p {
    @apply text-gray-500 text-lg italic;
}


/* 3D scéna a navrhované modely */
.model-detail-lower-section {
    @apply grid grid-cols-1 lg:grid-cols-4 gap-4 mb-4;
}

/* Galerie náhledových obrázků modelu */
.model-detail-gallery {
    @apply grid grid-cols-4 gap-6 bg-[#1A1A1A] p-6 rounded-md;
}

/* Obrázek v galerii */
.gallery-image{
    @apply w-full h-full object-cover hover:scale-103 transition-transform duration-300;
}

.modal-open {
    overflow: hidden;
}

/* Náhledový obrázek */
.model-detail-thumbnail {
    @apply aspect-video rounded-md overflow-hidden cursor-pointer;
}

/* Prázdný náhledový obrázek */
.model-detail-thumbnail-empty {
    @apply aspect-video bg-[#1A1A1A] rounded-xl flex items-center justify-center text-gray-700 text-2xl font-bold;
}

/* Sekce s hodnocením modelu */
.model-rating-section {
    @apply flex flex-wrap items-center justify-between gap-4 mb-4 bg-[#1A1A1A] p-6 rounded-md;
}

/* Název modelu */
.model-rating-name {
    @apply text-3xl font-bold;
}

/* Kategorie modelu */
.model-rating-category {
    @apply text-gray-500 text-base font-bold cursor-pointer hover:underline;
}

/* Tlačítka (like, dislike, sdílet) */
.model-rating-button {
    @apply w-12 h-12 flex items-center justify-center cursor-pointer;
}

.model-rating-button:hover {
    @apply bg-white/5 rounded-full;
}

.model-rating-button img {
    @apply w-7 h-7;
}

/* Nový řádek s popisem a parametry */
.model-info-description-box {
    @apply grid grid-cols-1 md:grid-cols-3 gap-4 mb-4;
}

/* Box pro popis (vlevo - zabírá 2/3) */
.model-description-box {
    @apply md:col-span-2 bg-[#1A1A1A] p-6 rounded-md;
}

/* Popis modelu */
.model-description-text {
    @apply text-gray-400 leading-relaxed;
}

/* Box pro technické parametry */
.model-technical-params {
    @apply md:col-span-1 bg-[#1A1A1A] p-6 rounded-md grid grid-cols-2 gap-6;
}

/* Nadpis údaje */
.model-trait {
    @apply text-gray-500 uppercase text-xs font-bold;
}

/* Jednotlivá položka parametru */
.param-item {
    @apply flex flex-col justify-center items-center text-center p-4 bg-white/5 rounded-md;
}

/* Podnadpisy */
.section-title {
    @apply text-base font-bold uppercase tracking-widest mb-3 ;
}

/* Komentářová sekce wrapper */
.comment-section-wrapper {
    @apply lg:col-span-1 flex flex-col gap-6;
}

/* Komentářová sekce */
.comment-section {
    @apply bg-[#1A1A1A] p-6 rounded-md flex-grow flex flex-col;
}

/* Uživatel není přihlášen */
.comment-not-login {
    @apply text-center p-4 bg-[#2A2A2A] rounded-md;
}

/* Kontejner s uživatelskými komentáři */
.comments-container {
    @apply flex flex-col gap-6 overflow-y-auto max-h-[500px] mt-auto;
}

/* Samotný komentář */
.single-comment {
    @apply bg-[#2A2A2A] p-4 rounded-md;
}

/* Kdo vytvořil komentář a kdy */
.comment-info {
    @apply flex items-center gap-3 mb-4;
}