{% extends "base/base.html" %}

<!-- Načtení potřebných knihoven -->
{% load i18n %}

<!-- Titulek stránky -->
{% block title %} {% trans 'FreeVat - Change password' %} {% endblock %}

{% block content %}
    <!-- Stránka pro změnu hesla -->
    <div class="form-page">
        <!-- Formulář - kontejner -->
        <div class="form-container">
            <!-- Hlavička -->
            <div>
                <h1 class="form-main-heading">
                    {% trans 'Change password' %}
                </h1>
                <p class="form-sub-heading">
                    {% trans 'Use long and random password to stay secure' %}
                </p>
            </div>

            <!-- Chybové zprávy -->
            {% include 'base/form_errors.html' %}

            <!-- Formulář pro změnu hesla -->
            <form class="form" method="POST">
                {% csrf_token %}

                <!-- Formulářová pole -->
                {% for field in form %}
                    <div class="space-y-2">
                        <label class="form-label-classes">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="text-red-500 text-sm italic">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                <!-- Tlačítka -->
                <div class="flex gap-4 pt-4">
                    <!-- Aktualizovat heslo -->
                    <button type="submit" class="form-submit-button">
                        {% trans 'Update password' %}
                    </button>
                    <!-- Zpět na profil -->
                    <a href="{% url 'profile' %}" class="form-discard-button">
                        {% trans 'Return' %}
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}