{% extends "base/base.html" %}

<!-- Načtení potřebných knihoven -->
{% load crispy_forms_tags static i18n %}

<!-- Titulek stránky -->
{% block title %} {% trans 'FreeVat - Upload model' %} {% endblock %}

{% block content %}
    <!-- Stránka pro nahrávání 3D modelů -->
    <div class="form-page">
        <!-- Nahrávací formulář - kontejner -->
        <div class="form-container--upload">
            <!-- Hlavička -->
            <div>
                <h2 class="form-main-heading">
                    {% trans "Upload 3D model" %}
                </h2>
                <p class="form-sub-heading">
                    {% trans "View your uploaded models " %}
                    <a href="{% url 'profile' %}">
                        {% trans 'here' %}
                    </a>
                </p>
            </div>

            <!-- Chybové zprávy -->
            {% include 'base/form_errors.html' %}

            <!-- Nahrávací formulář -->
            <form class="form" id="uploadForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Formulářová pole -->
                <div class="form-inputs-container">
                    <!-- Název modelu -->
                    <div class="mb-4">
                        {{ form.model_name | as_crispy_field }}
                    </div>

                    <!-- Výběr kategorie modelu -->
                    <div class="mb-4 relative">
                        <label class="form-label-classes">{% trans "Category" %}</label>
                        {{ form.category }}
                        <div class="custom-dropdown" id="categoryDropdown">
                            <!-- Spouštěč dropdownu -->
                            <div class="form-input-classes cursor-pointer"
                                 id="dropdownTrigger">
                                <span id="selectedCategoryText">{% trans "Select a category" %}</span>
                                <img src="{% static 'img/symbols/arrow_down.svg' %}"
                                     class="w-5 h-5 transition-transform" id="dropdownChevron"
                                     alt="{% trans 'Arrow down' %}">
                            </div>

                            <!-- Seznam kategorií (dropdown) - fetchuje se z databáze -->
                            <ul class="form-category-list hidden"
                                id="dropdownList">
                                {% for category in form.category.field.queryset %}
                                    <!-- Jednotlivá kategorie -->
                                    <li class="form-category-item"
                                        data-value="{{ category.id }}">
                                        {% if category.icon %}
                                            <img src="{{ category.icon.url }}" class="w-5 h-5"
                                                 alt="{% trans 'Category icon' %}">
                                        {% endif %}
                                        <span>{{ category.name }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Popis modelu -->
                    <div class="mb-4">
                        {{ form.description | as_crispy_field }}
                    </div>

                    <!-- Nahrání souboru 3D modelu -->
                    <div class="mb-6">
                        <!-- Nadpis -->
                        <label class="form-label-classes">
                            {% trans "3D Model" %}<span class="text-red-500 ml-1">*</span>
                        </label>
                        <!-- Oblast pro nahrání souboru -->
                        <div class="file-upload-area" id="modelFileUploadArea">
                            <!-- Nadpis a popis -->
                            <h3 class="file-upload-title">Upload 3D Model File</h3>
                            <p class="file-upload-description">Max File Size - 100 MB (.fbx, .gltf, .blend...)</p>

                            <!-- Tlačítko pro výběr modelu -->
                            <div id="modelFileButtonContainer">
                                <input type="file" id="modelFile" name="model_file" class="file-input hidden"
                                       accept=".obj,.fbx,.stl,.gltf,.glb,.usdz,.blend,.c4d,.max,.3ds,.mb,.ma" required>
                                <label for="modelFile" class="form-file-button">{% trans 'Select' %}</label>
                            </div>

                            <!-- Kontejner s nahraným modelem -->
                            <div class="hidden" id="selectedModelContainer">
                                <div class="selected-file-container">
                                    <span id="modelFileName"></span>
                                    <button type="button" id="removeModelButton"
                                            class="remove-file-button">
                                        <img src="{% static 'img/symbols/cross.svg' %}" alt="{% trans 'Delete' %}"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Nahrání náhledového obrázku -->
                    <div class="mb-6">
                        <!-- Nadpis -->
                        <label class="form-label-classes">
                            {% trans "Thumbnail" %}<span class="text-red-500 ml-1">*</span>
                        </label>
                        <!-- Oblast pro nahrání souboru -->
                        <div class="file-upload-area" id="previewFileUploadArea">
                            <!-- Nadpis a popis -->
                            <h3 class="file-upload-title">Main Preview Image</h3>
                            <p class="file-upload-description">Max File Size - 2 MB (.jpg, .png...)</p>

                            <!-- Tlačítko pro výběr náhledového obrázku -->
                            <div id="previewFileButtonContainer">
                                <input type="file" id="previewFile" name="preview_image" class="file-input hidden"
                                       accept=".jpg,.jpeg,.png,.webp">
                                <label for="previewFile" class="form-file-button">{% trans 'Select' %}</label>
                            </div>

                            <!-- Kontejner s nahraným náhledovým obrázkem -->
                            <div class="hidden" id="selectedPreviewContainer">
                                <div class="selected-file-container">
                                    <span id="previewFileName"></span>
                                    <button type="button" id="removePreviewButton"
                                            class="remove-file-button">
                                        <img src="{% static 'img/symbols/cross.svg' %}" alt="{% trans 'Cross' %}"/>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Nahrání galerie obrázků modelu -->
                    <div class="mb-6">
                        <!-- Nadpis -->
                        <label class="form-label-classes">{% trans "Photos" %}</label>
                        <!-- Oblast pro nahrání souboru -->
                        <div class="file-upload-area" id="galleryFileUploadArea">
                            <!-- Nadpis a popis -->
                            <h3 class="file-upload-title">Photos</h3>
                            <p class="file-upload-description">Upload more images to show details of your model.</p>

                            <!-- Kontejner s nahranými obrázky do galerie obrázků -->
                            <div class="hidden" id="selectedGalleryContainer">
                                <div id="galleryFilesList" class="gallery-uploaded-files">

                                </div>
                            </div>

                            <!-- Tlačítko pro výběr obrázku do galerie obrázků -->
                            <div id="galleryFileButtonContainer" class="form-gallery-buttons">
                                <input type="file" id="galleryFiles" name="gallery_images" class="file-input hidden"
                                       accept=".jpg,.jpeg,.png,.webp" multiple>
                                <label for="galleryFiles" class="form-file-button inline-block cursor-pointer">
                                    {% trans 'Select' %}
                                </label>

                                <!-- Tlačítko pro smazání všech obrázků v galerii -->
                                <button type="button" id="clearAllGallery"
                                        class="remove-gallery-button">
                                    {% trans "Delete" %}
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Tlačítka -->
                <div class="flex justify-center gap-4">
                    <!-- Nahrát -->
                    <button type="submit" class="form-submit-button">{% trans 'Upload' %}</button>
                    <!-- Resetovat formulář -->
                    <button type="reset" id="resetButton" class="form-reset-button">{% trans 'Reset' %}</button>
                    <!-- Zahodit změny -->
                    <button type="button" id="discardButton"
                            class="form-discard-button js-discard-button">{% trans 'Discard' %}</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Obsahuje věci, které kvůli Jinja syntaxi nejdou použít přímo v JS -->
    <script>
        const crossIconUrl = "{% static 'img/symbols/cross.svg' %}"
    </script>

    <!-- Obsahuje veškerou logiku pro dropdown a nahrávání souborů -->
    <script src="{% static 'js/web/upload.js' %}"></script>
{% endblock %}