@import "tailwindcss";

@layer components {

    /* Záhlaví */
    .header {
        @apply bg-orange-300 p-4 text-white;
    }

    /* Záhlaví - box se všemi prvky */
    .header-section {
        @apply flex items-center justify-between;
    }

    /* Ikona webu */
    .web-icon {
        @apply h-8 w-auto;
    }

    /* Vyhledávací sekce */
    .search-icon {
        @apply absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none;
    }

    /* Ikona vyhledávání */
    .search-icon-img {
        @apply h-5 w-5 text-gray-400;
    }

    /* Vyhledávací pole */
    .search-input {
        @apply w-full pl-10 p-2 rounded-md bg-gray-700 text-white
        focus:outline-none focus:ring-2 focus:ring-blue-400;
    }

    /* Registrace */
    .register-button {
        @apply bg-green-600 text-white py-2 px-4 rounded-lg
        hover:bg-green-500 transition-colors duration-300;
    }

    /* Přihlášení */
    .login-button {
        @apply bg-gray-600 text-gray-300 py-2 px-4 rounded-lg
        hover:bg-gray-500 transition-colors duration-300;
    }

    /* Nahrání */
    .upload-button {
        @apply bg-blue-600 text-white py-2 px-4 rounded-lg
        hover:bg-blue-500 transition-colors duration-300;
    }

    /* Menu s kategoriemi */
    .menu {
        @apply flex space-x-8;
    }

    /* Odkaz v menu */
    .menu-item {
        @apply flex items-center justify-center text-sm font-semibold
        hover:text-gray-400 transition-colors duration-300;
    }

    .nav {
        @apply bg-gray-800 p-4 text-white;
    }

    /* Box s navigačními prvky */
    .nav-section {
        @apply mx-auto flex justify-between items-center;
    }

    .lang-switcher {
        @apply relative flex items-center justify-center h-full;
    }

    /* Ikona vlajky */
    .flag-img {
        @apply !w-8 !h-auto hover:brightness-75 object-cover block;
    }

    /* Aktuální jazyk */
    .flag-button {
        @apply inline-flex items-center justify-center bg-transparent border-none focus:outline-none h-full;
    }

    /* Jiné jazyky - dropdown */
    .flag-dropdown {
        @apply absolute left-full top-1/2 -translate-y-1/2
        flex items-center gap-x-3
        px-4 z-50 whitespace-nowrap min-w-max
        hidden group-hover:flex;
    }

    /* Všechny vlajky ve switcheru */
    .flag-dropdown img {
        @apply h-6 w-auto object-contain align-middle;
    }

    /* Přepínací formulář + tlačítko */
    .form-toggle,
    .form-button {
        @apply p-0 m-0 border-none bg-transparent flex items-center focus:outline-none;
    }
}

@source "../../../**/*.{html,py,js}";