/* Celá stránka s formulářem */
.form-page {
    @apply min-h-screen flex items-center justify-center;
}

/* Formulář */
.form-container {
    @apply border-1 border-[#404040] max-w-md w-full space-y-8 rounded-xl p-5;
}

/* Nadpis ve formuláři */
.form-main-heading {
    @apply mt-6 text-center text-4xl font-extrabold text-white;
}

/* Podnadpis ve formuláři */
.form-sub-heading {
    @apply mt-2 text-center text-base text-gray-400;
}

/* Odkaz v podnadpisu */
.form-sub-heading a {
    @apply text-base text-blue-500 hover:underline;
}

/* Kontejner se vstupy */
.form-inputs-container {
    @apply mt-8 space-y-6;
}

.form-input-classes{
    @apply block w-full px-3 py-2 border-2 placeholder-gray-400 rounded-lg border-none outline-none text-lg;
    background-color: #404040;
}

/* Červená barva pro hvězdičky povinných polí */
.asteriskField {
    color: #ef4444;
    margin-left: 2px;
}

/* Kontejner pro zapamatování přihlášení a zapomenuté heslo*/
.form-extra-options {
    @apply flex items-center justify-between text-base;
}

/* Zapamatování přihlášení */
.form-extra-options input {
    @apply h-4 w-4 text-blue-600 bg-gray-800 rounded cursor-pointer;
}

/* Zaškrtnutí zapamatování přihlášení */
.form-extra-options label {
    @apply ml-2 block text-gray-300;
}

/* Zapomenuté heslo */
.form-extra-options a {
    @apply text-base text-blue-500 hover:underline;
}

/* Tlačítko pro odeslání formuláře (Přihlášení) */
.form-login-button {
    @apply py-2 px-4 duration-150 rounded-md text-lg w-full text-center;
    @apply hover:opacity-90 bg-green-900 cursor-pointer;
}