{% extends "base/base.html" %}
<!-- Načtení potřebných knihoven -->
{% load i18n static %}

<!-- Titulek stránky -->
{% block title %}{% trans 'FreeVat - Model list' %}{% endblock %}

{% block content %}
    <!-- Celá stránka s modely -->
    <div class="models-full-page">
        <!-- Nadpis a řazení modelů podle různých kritérií -->
        <div class="models-sort-container">

            <!-- Nadpis kategorie nebo všechny modely -->
            <h1 class="models-category-title">
                {% if current_category %}
                    {{ current_category.name }}
                {% else %}
                    {% trans "All models" %}
                {% endif %}
            </h1>

            <!-- Dropdown pro řazení 3D modelů -->
            {% include "models/partials/model_sort.html" %}
        </div>

        <!-- Náhledová okna 3D modelů -->
        <div class="models-preview-cards">
            {% for model in models %}
                <!-- Jednotlivé okno s odkazem na detail modelu -->
                {% include 'models/partials/model_box.html' with similar=model %}
                <!-- Zpráva, že nebyly nalezeny žádné modely v dané kategorii -->
                {% empty %}
                <div class="models-no-results">
                    <p class="text-xl">{% trans 'No models found in this category.' %}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}