{% load i18n static %}

<div class="categories">

    <a href="#" class="category-box" data-tooltip="{% trans 'Animals & Pets' %}">
        <img src="{% static 'img/categories/animals-and-pets.svg' %}"
             alt="{% trans 'Animals & Pets' %}"
             class="icon"
        >
        <span class="icon-text">{% trans 'Animals' %}</span>
    </a>

    <a href="#" class="category-box" data-tooltip="{% trans 'Architecture' %}">
        <img src="{% static 'img/categories/architecture.svg' %}"
             alt="{% trans 'Architecture' %}"
             class="icon"
        >
        <span class="icon-text">{% trans 'Architecture' %}</span>
    </a>

    <a href="#" class="category-box" data-tooltip="{% trans 'Characters & Creatures' %}">
        <img src="{% static 'img/categories/characters-and-creatures.svg' %}"
             alt="{% trans 'Characters & Creatures' %}"
             class="icon"
        >
        <span class="icon-text">{% trans 'Characters' %}</span>
    </a>

    <a href="#" class="category-box" data-tooltip="{% trans 'Electronics & Gadgets' %}">
        <img src="{% static 'img/categories/electronics-and-gadgets.svg' %}"
             alt="{% trans 'Electronics & Gadgets' %}"
             class="icon"
        >
        <span class="icon-text">{% trans 'Electronics' %}</span>
    </a>

    <a href="#" class="category-box" data-tooltip="{% trans 'Food & Drink' %}">
        <img src="{% static 'img/categories/food-and-drink.svg' %}"
             alt="{% trans 'Food & Drink' %}"
             class="icon"
        >
        <span class="icon-text">{% trans 'Food' %}</span>
    </a>

    <a href="#" class="category-box" data-tooltip="{% trans 'Furniture & Home' %}">
        <img src="{% static 'img/categories/furniture-and-home.svg' %}"
             alt="{% trans 'Furniture & Home' %}"
             class="icon"
        >
        <span class="icon-text">{% trans 'House' %}</span>
    </a>

    <a href="#" class="category-box" data-tooltip="{% trans 'Nature & Plants' %}">
        <img src="{% static 'img/categories/nature-and-plants.svg' %}"
             alt="{% trans 'Nature & Plants' %}"
             class="icon"
        >
        <span class="icon-text">{% trans 'Nature' %}</span>
    </a>

    <a href="#" class="category-box" data-tooltip="{% trans 'Sports & Fitness' %}">
        <img src="{% static 'img/categories/sports-and-fitness.svg' %}"
             alt="{% trans 'Sports & Fitness' %}"
             class="icon"
        >
        <span class="icon-text">{% trans 'Sport' %}</span>
    </a>
</div>