{% load i18n %} <!-- Pro překlady -->

<div class="flex space-x-8">
    <a href="#" class="text-sm font-semibold hover:text-gray-400 transition-colors duration-300">{% trans "Products" %}</a>
    <a href="#" class="text-sm font-semibold hover:text-gray-400 transition-colors duration-300">{% trans "Solutions" %}</a>
    <a href="#" class="text-sm font-semibold hover:text-gray-400 transition-colors duration-300">{% trans "Prices" %}</a>
    <a href="#" class="text-sm font-semibold hover:text-gray-400 transition-colors duration-300">{% trans "Blog" %}</a>
    <a href="#" class="text-sm font-semibold hover:text-gray-400 transition-colors duration-300">{% trans "Support" %}</a>
</div>