<!-- Domovská stránka -->
{% extends 'base/base.html' %}
{% load i18n static %}

{% block content %}
    <!-- Celá stránka -->
    <div class="main">
        <!-- Nadpisy -->
        <div class="main-header">
            <h1>{% trans 'Unlimited World of Professional 3D Models' %}</h1>
            <p>{% trans 'Explore high quality assets without any financial barriers!' %}</p>
        </div>
        <!-- Box s kategoriemi -->
        <div class="category-container flex overflow-x-scroll pb-4 space-x-3 md:space-x-4">

            <!-- Architektura -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Architecture' %}</span>
                <!-- Ikonka -->
                <span class="text-indigo-600">
                    <img src="{% static 'img/icons/categories/architecture.svg' %}" alt="{% trans 'Architecture' %}">
                </span>
            </button>

            <!-- Zvířata -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Animals' %}</span>
                <!-- Ikonka -->
                <span class="text-pink-600">
                    <img src="{% static 'img/icons/categories/animals.svg' %}" alt="{% trans 'Animals' %}">
                </span>
            </button>

            <!-- Auta -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Cars' %}</span>
                <!-- Ikonka -->
                <span class="text-green-600">
                   <img src="{% static 'img/icons/categories/cars.svg' %}" alt="{% trans 'Cars' %}">
                </span>
            </button>

            <!-- Vozidla -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Vehicles' %}</span>
                <!-- Ikonka -->
                <span class="text-green-600">
                   <img src="{% static 'img/icons/categories/vehicles.svg' %}" alt="{% trans 'Vehicles' %}">
                </span>
            </button>

            <!-- Technologie -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Technology' %}</span>
                <!-- Ikonka pro Technologii -->
                <span class="text-blue-600">
                    <img src="{% static 'img/icons/categories/technology.svg' %}" alt="{% trans 'Technology' %}">
                </span>
            </button>

            <!-- Elektronika -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Electronics' %}</span>
                <!-- Ikonka -->
                <span class="text-blue-600">
                    <img src="{% static 'img/icons/categories/computer.svg' %}" alt="{% trans 'Electronics' %}">
                </span>
            </button>

            <!-- Jídlo -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Food' %}</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/food.svg' %}" alt="{% trans 'Food' %}">
                </span>
            </button>

            <!-- Pití -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Drink' %}</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/drink.svg' %}" alt="{% trans 'Drink' %}">
                </span>
            </button>

            <!-- Nábytek -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Furniture' %}</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/furniture.svg' %}" alt="{% trans 'Furniture' %}">
                </span>
            </button>

            <!-- Domov -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Home'%}</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/home.svg' %}" alt="{% trans 'Home'%}">
                </span>
            </button>

            <!-- Příroda -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Nature' %}</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/nature.svg' %}" alt="{% trans 'Nature' %}">
                </span>
            </button>

            <!-- Rostliny -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Plants' %}</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/plants.svg' %}" alt="{% trans 'Plants' %}">
                </span>
            </button>

            <!-- Sport -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">{% trans 'Sport' %}</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/sport.svg' %}" alt="{% trans 'Sport' %}">
                </span>
            </button>

            <!-- Formát FBX (Filmbox) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">FBX</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/cube.svg' %}" alt="FBX">
                </span>
            </button>

            <!-- Formát OBJ (Object) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">OBJ</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/cube.svg' %}" alt="OBJ">
                </span>
            </button>

            <!-- Formát USDZ (Universal Scene Description Zip) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">USDZ</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/cube.svg' %}" alt="USDZ">
                </span>
            </button>

            <!-- Formát GLTF (Graphics Library Transmission Format) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">GLTF</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/cube.svg' %}" alt="GLTF">
                </span>
            </button>

            <!-- Formát GLB (Graphics Language Binary) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">GLB</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/cube.svg' %}" alt="GLB">
                </span>
            </button>

            <!-- Formát STL (STL) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">STL</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/cube.svg' %}" alt="STL">
                </span>
            </button>

            <!-- Formát .blend (Blender) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">Blender</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/blender.svg' %}" alt="Blender">
                </span>
            </button>

            <!-- Formát .max (3ds Max) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">3ds Max</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/3ds-max.svg' %}" alt="3ds Max">
                </span>
            </button>

            <!-- Formát .ma, .mb (Maya Ascii, Maya Binary) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">Maya</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/maya.svg' %}" alt="Maya">
                </span>
            </button>

             <!-- Formát .c4d (Cinema 4D) -->
            <button class="button-category">
                <span class="text-lg font-semibold text-gray-800">Cinema 4D</span>
                <!-- Ikonka -->
                <span class="text-yellow-600">
                    <img src="{% static 'img/icons/categories/cinema4d.svg' %}" alt="Cinema 4D">
                </span>
            </button>

        </div>
        <!-- Feature karty -->
        <div class="feature-container">
            <!-- Karta 1 (Kompletní bezplatný přístup) -->
            <div class="feature-card">
                <div class="feature-icon"><img src="{% static 'img/icons/money_off.svg' %}" alt="Money Off">
                </div>
                <h3>{% trans 'COMPLETELY FREE ACCESS' %}</h3>
                <p>{% trans 'Works on computers, tablets and smartphones. Enrich your website with realistic displays of your models and products.' %}</p>
                <a href="{% url 'upload' %}" class="button upload-button">{% trans "Create Account" %}</a>
            </div>

            <!-- Karta 2 (Sdílejte svůj 3D model ještě dnes) -->
            <div class="feature-card">
                <div class="feature-icon"><img src="{% static 'img/icons/accessibility.svg' %}" alt="Accessibility">
                </div>
                <h3>{% trans 'SHARE YOUR CREATIONS' %}</h3>
                <p>{% trans 'We guarantee a private and safe workplace for 3D models. All your data is processed with a 256-bit secure encrypted connection. You may decide to share only with who you want.' %}</p>
                <a href="{% url 'upload' %}" class="button upload-button">{% trans "Upload Model" %}</a>
            </div>

            <!-- Karta 3 (Pokročilý 3D prohlížeč) -->
            <div class="feature-card">
                <div class="feature-icon"><img src="{% static 'img/icons/head_mounted_device.svg' %}" alt="VR Headset">
                </div>
                <h3>{% trans 'ADVANCED 3D VIEWER' %}</h3>
                <p>{% trans 'Personalise the viewer platform to match your company style. Use your logo, colors and customise the toolbar functions.' %}</p>
                <a href="#" class="button upload-button">{% trans "Explore Assets" %}</a>
            </div>
        </div>
    </div>
{% endblock %}