<!-- Domovská stránka -->
{% extends 'base/base.html' %}
{% load i18n static %}

<!-- Titulek stránky -->
<title>{% block title %}Freevat - Unlimited World of Professional 3D Models{% endblock %}</title>

{% block content %}
    <!-- Celá stránka -->
    <div class="main">
        <!-- Nadpisy -->
        <div class="main-header">
            <h1>{% trans 'Unlimited World of Professional 3D Models' %}</h1>
            <p>{% trans 'Explore high quality assets without any financial barriers!' %}</p>
        </div>

        <!-- Carousel s kategoriemi 3D modelů (načítá se z databáze) -->
        <div class="carousel-wrapper">
            <!-- Šipky pro posun carouselu doprava -->
            <button class="carousel-arrow carousel-arrow-left">
                <img src="{% static 'img/icons/arrow_left.svg' %}" alt="{% trans 'Arrow Left' %}" class="arrow-icon">
            </button>

            <!-- Načte všechny kategorie z databáze -->
            <div class="categories-carousel">
                <div class="carousel-group">
                    {% for category in categories %}
                        <a class="carousel-card" href="#">
                            {% if category.icon %}
                                <img src="{{ category.icon.url }}" alt="{{ category.name }}">
                            {% else %}
                                <img src="{% static 'img/icons/default.svg' %}" alt="{{ category.name }}">
                            {% endif %}

                            <span>{{ category.name }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <!-- Šipky pro posun carouselu doleva -->
            <button class="carousel-arrow carousel-arrow-right">
                <img src="{% static 'img/icons/arrow_right.svg' %}" alt="{% trans 'Arrow Right' %}" class="arrow-icon">
            </button>
        </div>

        <!-- Feature karty -->
        <div class="feature-container">
            <!-- Karta 1 (Kompletně bezplatný přístup) -->
            <div class="feature-card">
                <div class="feature-icon"><img src="{% static 'img/icons/money_off.svg' %}" alt="Money Off"></div>
                <h3>{% trans 'COMPLETELY FREE ACCESS' %}</h3>

                <div class="feature-list">
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Get any model for free' %}</span>
                    </div>
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Extensive 3D Model Library' %}</span>
                    </div>
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Multiple 3D format support' %}</span>
                    </div>
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Absolutely no ads' %}</span>
                    </div>
                </div>

                <a href="{% url 'upload' %}" class="feature-button">{% trans "Create Account" %}</a>
            </div>

            <!-- Karta 2 (Sdílejte svůj 3D model ještě dnes) -->
            <div class="feature-card">
                <div class="feature-icon"><img src="{% static 'img/icons/accessibility.svg' %}" alt="Accessibility">
                </div>
                <h3>{% trans 'SHARE YOUR CREATIONS' %}</h3>

                <div class="feature-list">
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Upload your models for free' %}</span>
                    </div>
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Unpaid account creation' %}</span>
                    </div>
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Secure registration and login' %}</span>
                    </div>
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Anyone can rate your models' %}</span>
                    </div>
                </div>

                <a href="{% url 'upload' %}" class="feature-button">{% trans "Upload Model" %}</a>
            </div>

            <!-- Karta 3 (Pokročilý 3D prohlížeč) -->
            <div class="feature-card">
                <div class="feature-icon">
                    <img src="{% static 'img/icons/head_mounted_device.svg' %}" alt="VR Headset">
                </div>
                <h3>{% trans 'ADVANCED 3D VIEWER' %}</h3>

                <div class="feature-list">
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Full 360° model preview' %}</span>
                    </div>
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Panning, zooming and rotating' %}</span>
                    </div>
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Texture visibility control' %}</span>
                    </div>
                    <div class="feature-list-item">
                        <img class="check-icon" src="{% static 'img/icons/tick.svg' %}" alt="Check Icon">
                        <span>{% trans 'Works on all devices' %}</span>
                    </div>
                </div>

                <a href="#" class="feature-button">{% trans "Explore Assets" %}</a>
            </div>
        </div>

        <!-- Loga 3D Software -->
        <div class="flex flex-col items-center mt-20">
            <h2 class="text-3xl font-bold text-center mb-12">
                {% trans 'Compatible With The Most Popular 3D Programs' %}
            </h2>

            <div class="software-logos-container">
                {% for software in software_list %}
                    <div class="software-logo-item">
                        {% if software.icon %}
                            <img src="{{ software.icon.url }}"
                                 alt="{{ software.name }}"
                                 class="software-logo-img">
                        {% endif %}

                        <div class="software-logo-content">
                            <h3 class="software-logo-title">{{ software.name }}</h3>
                            <p class="software-logo-extension">
                                {{ software.description }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <!-- Loga 3D Formátů -->
        <div class="flex flex-col items-center mt-20 mb-20">
            <h2 class="text-3xl font-bold text-center mb-12">
                {% trans 'Support Of The Most Common File Formats' %}
            </h2>

            <div class="format-logos-container flex justify-center flex-wrap gap-6">
                {% for format in formats %}
                    <div class="format-logo-item">
                        <div class="flex items-center space-x-4">
                            {% if format.icon %}
                                <img src="{{ format.icon.url }}"
                                     alt="{{ format.name }}"
                                     class="format-logo-img">
                            {% endif %}

                            <div>
                                <h3 class="format-logo-title">{{ format.name }}</h3>
                                <p class="format-logo-extension">{{ format.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <!-- Prohlížejte nejnovější 3D modely -->
        <div>
            <!-- Nadpis -->
            <h2 class="text-3xl font-bold text-center mb-12">{% trans 'Browse The Latest 3D Models' %}</h2>
            <div>

            </div>
        </div>

    </div>

    <!-- Obsahuje logiku pro posun carouselu pomocí šipek -->
    <script src="{% static 'js/web/carousel.js' %}"></script>
{% endblock %}