{% extends "base/base.html" %}
<!-- Načtení potřebných knihoven -->
{% load i18n static %}

{% block content %}
    <!-- Celá stránka s modely -->
    <div class="models-full-page">
        <!-- Nadpis a řazení modelů podle různých kritérií -->
        <div class="models-sort-container">

            <!-- Nadpis kategorie nebo všechny modely -->
            <h1 class="models-category-title">
                {% if current_category %}
                    {{ current_category.name }}
                {% else %}
                    {% trans "All models" %}
                {% endif %}
            </h1>


            <!-- Dropdown pro řazení modelů -->
            <div class="models-sort-dropdown group">

                <!-- Štítek "Seřadit" nad dropdownem -->
                <div class="models-sort-label">
                    {% trans "Sort by" %}
                </div>

                <!-- Tlačítko pro otevření dropdownu -->
                <button class="models-dropdown-button">

                    <!-- Aktuální vybrané řazení -->
                    <span class="truncate">
                    {% if current_sort == 'newest' %}{% trans "Newest" %}
                        {% elif current_sort == 'oldest' %}{% trans "Oldest" %}
                        {% elif current_sort == 'name_asc' %}{% trans "Name (A-Z)" %}
                        {% elif current_sort == 'name_desc' %}{% trans "Name (Z-A)" %}
                    {% else %}{% trans "Select..." %}{% endif %}
                    </span>

                </button>

                <!-- Dropdown menu s možnostmi řazení -->
                <div class="models-dropdown-menu">
                    <div class="py-1">
                        <!-- Nejnovější modely -->
                        <a href="?sort=newest"
                           class="models-dropdown-item">
                            {% trans "Newest" %}
                        </a>
                        <!-- Nejstarší modely -->
                        <a href="?sort=oldest"
                           class="models-dropdown-item">
                            {% trans "Oldest" %}
                        </a>
                        <!-- Abecední řazení A-Z -->
                        <a href="?sort=name_asc"
                           class="models-dropdown-item">
                            {% trans "Name (A-Z)" %}
                        </a>
                        <!-- Abecední řazení Z-A -->
                        <a href="?sort=name_desc"
                           class="models-dropdown-item">
                            {% trans "Name (Z-A)" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Náhledová okna 3D modelů -->
        <div class="models-preview-cards">
            {% for model in models %}
                <!-- Jednotlivé okno s odkazem na detail modelu -->
                <a href="{% url 'model_detail' model.pk %}" class="group block">
                    <div class="model-preview-card">

                        <!-- Náhledový obrázek modelu importovaný z databáze -->
                        <div class="model-thumbnail-div">
                            <img src="{{ model.thumbnail.url }}" alt="{{ model.name }}">
                        </div>

                        <!-- Podokno s informacemi o modelu -->
                        <div class="model-preview-info">

                            <!-- Profilový obrázek uživatele -->
                            <div class="model-info-profile">
                                <img src="{{ model.user.get_profile_picture }}" alt="{{ model.user.username }}">
                            </div>

                            <div class="flex-1">
                                <!-- Název modelu -->
                                <h3 class="model-info-name">
                                    {{ model.name }}
                                </h3>
                                <!-- Uživatelské jméno vlastníka modelu -->
                                <p class="model-info-creator">
                                    {{ model.user.username }}
                                </p>
                            </div>

                            <!-- Kategorie modelu a formát souboru -->
                            <div class="model-properties">
                                <div class="flex gap-1 items-center">
                                    <!-- Ikona kategorie modelu -->
                                    <div class="model-property-icon">
                                        <img src="{{ model.category.icon.url }}"
                                             alt="{{ model.category.name }}"
                                             class=object-contain">
                                    </div>
                                    <!-- Formát souboru modelu -->
                                    <div class="model-property-filename">
                                        {{ model.model.name|slice:"-4:"|cut:"." }}
                                    </div>
                                </div>

                                <!-- Uživatelské hodnocení modelu (5 hvězdiček) -->
                                <div class="flex gap-0.5 mt-1">
                                    <img src="{% static 'img/icons/star.svg' %}" class="w-2.5 h-2.5"
                                         alt="{% trans 'Star' %}">
                                    <img src="{% static 'img/icons/star.svg' %}" class="w-2.5 h-2.5"
                                         alt="{% trans 'Star' %}">
                                    <img src="{% static 'img/icons/star.svg' %}" class="w-2.5 h-2.5"
                                         alt="{% trans 'Star' %}">
                                    <img src="{% static 'img/icons/star.svg' %}" class="w-2.5 h-2.5"
                                         alt="{% trans 'Star' %}">
                                    <img src="{% static 'img/icons/star.svg' %}" class="w-2.5 h-2.5"
                                         alt="{% trans 'Star' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Zpráva, že nebyly nalezeny žádné modely v dané kategorii -->
                {% empty %}
                <div class="models-no-results">
                    <p class="text-xl">{% trans 'No models found in this category.' %}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}