{% extends "base/base.html" %}

<!-- Načtení potřebných knihoven -->
{% load crispy_forms_tags i18n %}

<!-- Titulek stránky -->
{% block title %} {% trans 'Edit Profile' %} {% endblock %}

{% block content %}
    <!-- Stránka pro úpravu profilu -->
    <div class="form-page">
        <!-- Formulář - kontejner -->
        <div class="form-container">
            <!-- Hlavička -->
            <div>
                <h2 class="form-main-heading">
                    {% trans 'Edit profile' %}
                </h2>
                <p class="form-sub-heading">
                    {% trans 'Update your personal information' %}
                </p>
            </div>

            <!-- Formulář pro úpravu profilu -->
            <form class="form" method="POST">
                {% csrf_token %}

                <!-- Zobrazení chybových hlášek -->
                {% include "base/error.html" %}

                <!-- Formulářová pole -->
                <div class="form-inputs-container">
                    {% for field in form %}
                        <div class="{% if not forloop.first %}mt-4{% endif %}">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                </div>

                <!-- Tlačítka -->
                <div class="flex gap-4 pt-4">
                    <!-- Uložit změny -->
                    <button type="submit"
                            class="form-submit-button">
                        {% trans 'Save Changes' %}
                    </button>
                    <!-- Zrušit úpravy -->
                    <a href="{% url 'profile' %}"
                       class="form-discard-button">
                        {% trans 'Cancel' %}
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}