{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block content %}
    <!-- Přihlašovací stránka -->
    <div class="form-page">
        <!-- Přihlašovací formulář - kontejner -->
        <div class="form-container">
            <!-- Hlavička -->
            <div>
                <h2 class="form-main-heading">
                    {% trans "Login to FreeVat" %}
                </h2>
                <p class="form-sub-heading">
                    {% trans "Not a member yet?" %}
                    <a href="{% url 'users:register' %}">
                        {% trans 'Create new account!' %}
                    </a>
                </p>
            </div>

            <!-- Přihlašovací formulář -->
            <form class="mt-8 space-y-6" method="POST">
                {% csrf_token %}

                <!-- Zobrazení chyb -->
                {% if form.errors %}
                    <div class="bg-red-900 border border-red-700 text-red-100 px-4 py-3 rounded">
                        <strong class="font-bold">{% trans 'Error!' %}</strong>
                        <span class="block sm:inline">{% trans 'Incorrect login credentials' %}</span>
                    </div>
                {% endif %}

                <!-- Formulářová pole -->
                <div class="form-inputs-container">
                    <div class="mb-4">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div>
                        {{ form.password|as_crispy_field }}
                    </div>
                </div>

                <!-- Zapamatovat přihlášení -->
                <div class="form-extra-options">
                    <div class="flex items-center">
                        <input id="remember-me" name="remember-me" type="checkbox">
                        <label for="remember-me">
                            {% trans 'Remember me' %}
                        </label>
                    </div>

                    <div class="text-sm">
                        <a href="#">
                            {% trans 'Forgotten password?' %}
                        </a>
                    </div>
                </div>

                <!-- Tlačítko přihlášení -->
                <div class="flex justify-center">
                    <a type="submit"
                       class="form-login-button group">
                        {% trans 'Log in' %}
                    </a>
                </div>
            </form>

            <!-- Přihlášení přes sociální sítě (zatím jen Google a Github) -->
            {% include "users/socials.html" %}
        </div>
    </div>
{% endblock %}
