{% extends "base/base.html" %}

<!-- Načtení potřebných knihoven -->
{% load i18n static %}

<!-- Titulek stránky -->
{% block title %}{% trans 'FreeVat - User profile' %}{% endblock %}

{% block content %}
    <!-- Celá stránka -->
    <div class="form-page">
        <div class="form-container--profile">

            <!-- Horní sekce - správa účtu -->
            <div class="upper-section">
                <div class="user-profile-section">
                    <!-- Profilový obrázek uživatele -->
                    <div class="relative">
                        <img src="{{ user.get_profile_picture }}"
                             alt="{% trans 'Profile' %}"
                             class="profile-picture">
                    </div>
                    <!-- Údaje uživatele -->
                    <div>
                        <h1 class="text-4xl font-bold text-white">{{ user.username }}</h1>
                        <p class="text-gray-400 text-lg">{{ user.email }}</p>
                        <p class="text-sm text-gray-500 mt-2 uppercase">
                            {% trans 'Member since' %} {{ user.date_joined|date:"d. m. Y" }}
                        </p>
                    </div>
                </div>

                <!-- Tlačítka pro správu účtu -->
                <div class="manage-account-buttons">

                    <!-- Upravit profil -->
                    <a href="{% url 'users:edit_profile' %}"
                       class="button text-lg">
                        {% trans 'Edit profile' %}
                    </a>

                    <!-- Změnit heslo -->
                    <a href="{% url 'users:change_password' %}"
                       class="button text-lg">
                        {% trans 'Change password' %}
                    </a>

                    <!-- Odhlášení -->
                    <a href="{% url 'users:logout' %}"
                       class="button text-lg bg-red-900">
                        {% trans 'Logout' %}
                    </a>
                </div>
            </div>

            <!-- Dolní sekce - uživatelské 3D modely -->
            <div class="bottom-section">

                <!-- Nadpis a tlačítka -->
                <div class="models-buttons">

                    <!-- Nadpis -->
                    <h2 class="text-3xl font-bold">{% trans 'My models' %} ({{ total_models_count }})</h2>

                    <div class="flex gap-3 w-full sm:w-auto">
                        <!-- Nahrát model -->
                        <a href="{% url 'upload' %}"
                           class="button">
                            {% trans 'Upload' %}
                        </a>
                        <!-- Zobrazit všechny modely -->
                        <a href="{% url 'user_models_all' %}"
                           class="button hover:opacity-90 bg-green-900">
                            {% trans 'My models' %}
                        </a>
                    </div>
                </div>

                <!-- Nejnovějších 8 modelů -->
                {% if user_models %}
                    <!-- Mřížka s modely -->
                    <div class="models-grid">
                        {% for model in user_models %}
                            {% include 'models/partials/model_box.html' with similar=model %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="no-models">
                        <p class="text-gray-400">{% trans 'You have not uploaded any models yet.' %}</p>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}