{% extends "base/base.html" %}

<!-- Načtení potřebných knihoven -->
{% load crispy_forms_tags static i18n %}

<!-- Titulek stránky !-->
{% block title %} {% trans 'Register' %} {% endblock %}

{% block content %}
    <!-- Registrační stránka -->
    <div class="form-page">
        <!-- Registrační formulář - kontejner -->
        <div class="form-container">
            <!-- Hlavička -->
            <div>
                <h2 class="form-main-heading">
                    {% trans "Create new account" %}
                </h2>
                <p class="form-sub-heading">
                    {% trans 'Already have an account?' %}
                    <a href="{% url 'users:login' %}">
                        {% trans 'Login here!' %}
                    </a>
                </p>
            </div>

            <!-- Registrační formulář -->
            <form class="form" method="POST">
                {% csrf_token %}

                <!-- Zobrazení chybových hlášek -->
                {% include "base/error.html" %}

                <!-- Formulářová pole -->
                <div class="form-inputs-container">
                    {% for field in form %}
                        <div class="{% if not forloop.first %}mt-4{% endif %}">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                </div>

                <!-- Tlačítko registrace -->
                <div>
                    <button type="submit"
                            class="form-submit-button">
                        {% trans 'Create new account' %}
                    </button>
                </div>
            </form>

            <!-- Přihlášení přes sociální sítě (zatím jen Google a Github) -->
            {% include "users/socials.html" %}
        </div>
    </div>
{% endblock %}