{% extends "base/base.html" %}

<!-- Načtení potřebných knihoven -->
{% load crispy_forms_tags static i18n %}

{% block title %} {% trans 'FreeVat Register' %} {% endblock %}

{% block content %}
    <!-- Registrační stránka -->
    <div class="form-page">
        <!-- Registrační formulář - kontejner -->
        <div class="form-container">
            <!-- Hlavička -->
            <div>
                <h2 class="form-main-heading">
                    {% trans "Create new account" %}
                </h2>
                <p class="form-sub-heading">
                    {% trans 'Already have an account?' %}
                    <a href="{% url 'users:login' %}">
                        {% trans 'Login here!' %}
                    </a>
                </p>
            </div>

            <!-- Registrační formulář -->
            <form class="mt-8 space-y-6" method="POST">
                {% csrf_token %}

                <!-- Zobrazení chyb -->
                {% if form.errors %}
                    <div class="bg-red-900 border border-red-700 text-red-100 px-4 py-3 rounded">
                        <strong class="font-bold">{% trans 'Error!' %}</strong>
                        <span class="block sm:inline">{% trans 'Fix the mistakes in form' %}</span>
                    </div>
                {% endif %}

                <!-- Formulářová pole -->
                <div class="form-inputs-container">
                    {% for field in form %}
                        <div class="{% if not forloop.first %}mt-4{% endif %}">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                </div>

                <!-- Tlačítko registrace -->
                <div>
                    <button type="submit"
                            class="form-login-button group">
                        {% trans 'Create new account' %}
                    </button>
                </div>
            </form>

            <!-- Registrace přes sociální sítě -->
            {% include "users/socials.html" %}
        </div>
    </div>
{% endblock %}