{% load static %} <!-- Pro obrázky -->
{% load i18n %} <!-- Pro překlady -->

<div class="social-divider">
    <div class="social-divider-line"></div>
    <span class="px-3 text-white text-base">{% trans 'or' %}</span>
    <div class="social-divider-line"></div>
</div>

<div class="social-buttons-container">

    <a class="social-button"
       href="#">
        <span class="social-logo">
            <img src="{% static 'img/icons/google.svg' %}" alt="Google">
        </span>
        <span class="social-text">{% trans 'Google' %}</span>
    </a>

    <a class="social-button"
       href="#">
        <span class="social-logo">
            <img src="{% static 'img/icons/github.svg' %}" alt="GitHub">
        </span>
        <span class="social-text">{% trans 'GitHub' %}</span>
    </a>
</div>