<!-- Načtení potřebných knihoven -->
{% load socialaccount static i18n %}

<!-- Oddělovací čára -->
<div class="social-divider">
    <div class="social-divider-line"></div>
    <span class="px-3 text-white text-base">{% trans 'or' %}</span>
    <div class="social-divider-line"></div>
</div>

<!-- Kontejner s tlačítky pro přihlášení -->
<div class="social-buttons-container">

    <!-- Přihlášení přes Google -->
    <a class="social-button"
       href="{% provider_login_url 'google' %}">
        <span class="social-logo">
            <img src="{% static 'img/icons/google.svg' %}" alt="Google">
        </span>
        <span class="social-text">{% trans 'Google' %}</span>
    </a>

    <!-- Přihlášení přes GitHub -->
    <a class="social-button"
       href="{% provider_login_url 'github' %}">
        <span class="social-logo">
            <img src="{% static 'img/icons/github.svg' %}" alt="GitHub">
        </span>
        <span class="social-text">{% trans 'GitHub' %}</span>
    </a>
</div>