{% extends "base/base.html" %}
<!-- Načtení potřebných knihoven -->
{% load i18n static %}

<!-- Titulek stránky -->
{% block title %}{% trans 'FreeVat - My models' %}{% endblock %}

{% block content %}
    <!-- Celá stránka s modely uživatele -->
    <div class="models-full-page">
        <!-- Nadpis a řazení modelů podle různých kritérií -->
        <div class="models-sort-container">

            <!-- Nadpis a počet uživatelových modelů -->
            <h1 class="models-category-title">
                {% trans "My models" %} ({{ models|length }})
            </h1>

            <!-- Dropdown pro řazení 3D modelů -->
            {% include "models/partials/model_sort.html" %}
        </div>

        <!-- Náhledová okna 3D modelů -->
        <div class="models-preview-cards">
            {% for user_model in models %}
                <!-- Jednotlivé okno s odkazem na detail modelu -->
                <a href="{% url 'model_detail' user_model.pk %}" class="group block">
                    <div class="model-preview-card">

                        <!-- Náhledový obrázek modelu importovaný z databáze -->
                        <div class="model-thumbnail-div">
                            {% if user_model.thumbnail %}
                                <img src="{{ user_model.thumbnail.url }}" alt="{{ user_model.name }}">
                            {% endif %}
                        </div>

                        <!-- Podokno s informacemi o modelu -->
                        <div class="model-preview-info flex justify-between items-center w-full">

                            <!-- Levá sekce -->
                            <div class="flex-col">
                                <div class="flex-1 min-w-0 mb-2">
                                    <!-- Název modelu -->
                                    <h3 class="model-info-name truncate">
                                        {{ user_model.name }}
                                    </h3>
                                </div>

                                <!-- Tlačítka pro spravování modelů -->
                                <div class="flex gap-2">
                                    <!-- Upravit model -->
                                    <form action="{% url 'edit_model' user_model.pk %}" method="get" class="inline">
                                        <button type="submit"
                                                class="model-manage-button bg-blue-900">
                                            {% trans "EDIT" %}
                                        </button>
                                    </form>

                                    <!-- Vymazat model -->
                                    <form action="{% url 'delete_model' user_model.pk %}" method="post" class="inline">
                                        {% csrf_token %}
                                        <button type="submit"
                                                class="model-manage-button bg-red-900">
                                            {% trans "DELETE" %}
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <!-- Kategorie modelu a formát souboru -->
                            <div class="model-properties">
                                <div class="flex gap-1 items-center">

                                    <!-- Ikona kategorie modelu -->
                                    <div class="model-property-icon w-4 h-4">
                                        {% if user_model.category.icon %}
                                            <img src="{{ user_model.category.icon.url }}"
                                                 alt="{{ user_model.category.name }}"
                                                 class="w-full h-full object-contain">
                                        {% endif %}
                                    </div>
                                    <!-- Formát souboru modelu -->
                                    <div class="model-property-filename">
                                        {{ user_model.model.name|slice:"-4:"|cut:"."|upper }}
                                    </div>
                                </div>

                                <!-- Uživatelské hodnocení modelu (5 hvězdiček)
                                     Prozatím nefunguje, je to zde pro dekoraci
                                -->
                                <div class="flex gap-0.5 mt-1">
                                    {% for i in "12345" %}
                                        <img src="{% static 'img/symbols/star.svg' %}" class="w-2.5 h-2.5"
                                             alt="{% trans 'Star' %}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% empty %}
                <div class="models-no-results">
                    <p class="text-xl">{% trans 'No models found.' %}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}