<!-- Překlady -->
{% load i18n %}

<!-- Celé navigační menu -->
<div class="menu-container">
    <nav aria-label="Header Navigation" class="menu-nav">
        <ul class="menu-wrapper">

            <!-- Kategorie modelů -->
            <li class="menu-dropdown group">
                <button class="menu-item">{% trans "Models" %}</button>
                <div class="menu-dropdown-area">
                    <a href="{% url 'model_list' %}" class="menu-dropdown-box">
                        {% trans 'All' %}
                    </a>

                    {% for category in categories %}
                        <a href="{% url 'model_list_by_category' category.name %}" class="menu-dropdown-box">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </li>

            <!-- Formáty -->
            <li class="menu-dropdown group">
                <button class="menu-item">{% trans "Formats" %}</button>
                <div class="menu-dropdown-area">
                    <!-- Názvy formátů -->
                    <a href="#" class="menu-dropdown-box">FBX</a>
                    <a href="#" class="menu-dropdown-box">OBJ</a>
                    <a href="#" class="menu-dropdown-box">GLTF</a>
                    <a href="#" class="menu-dropdown-box">GLB</a>
                    <a href="#" class="menu-dropdown-box">STL</a>
                </div>
            </li>

            <!-- Software -->
            <li class="menu-dropdown group">
                <button class="menu-item">{% trans "Software" %}</button>
                <div class="menu-dropdown-area">
                    <!-- Názvy software -->
                    <a href="#" class="menu-dropdown-box">Blender</a>
                    <a href="#" class="menu-dropdown-box">3ds Max</a>
                    <a href="#" class="menu-dropdown-box">Maya</a>
                    <a href="#" class="menu-dropdown-box">Cinema 4D</a>
                </div>
            </li>

            <!-- Oddělovací svislá čára -->
            <li>
                <div class="split-line"></div>
            </li>

            <!-- Textury -->
            <li class="menu-dropdown group">
                <button class="menu-item">{% trans "Textures" %}</button>
            </li>
        </ul>
    </nav>
</div>