<!-- Překlady -->
{% load i18n %}

<!-- Celé navigační menu -->
<div class="menu-container">
    <nav aria-label="Header Navigation" class="menu-nav">
        <ul class="menu-wrapper">

            <!-- Modely -->
            <li class="menu-dropdown group">
                <button class="menu-item">{% trans "Models" %}</button>
                <div class="menu-dropdown-area">
                    <!-- Kategorie modelů -->
                    <a href="#" class="menu-dropdown-box">{% trans 'All categories' %}</a>
                    <a href="#" class="menu-dropdown-box">{% trans 'Animals & Pets' %}</a>
                    <a href="#" class="menu-dropdown-box">{% trans 'Architecture' %}</a>
                    <a href="#" class="menu-dropdown-box">{% trans 'Cars & Vehicles' %}</a>
                    <a href="#" class="menu-dropdown-box">{% trans 'Characters & Creatures' %}</a>
                    <a href="#" class="menu-dropdown-box">{% trans 'Electronics & Gadgets' %}</a>
                    <a href="#" class="menu-dropdown-box">{% trans 'Food & Drink' %}</a>
                    <a href="#" class="menu-dropdown-box">{% trans 'Furniture & Home' %}</a>
                    <a href="#" class="menu-dropdown-box">{% trans 'Nature & Plants' %}</a>
                    <a href="#" class="menu-dropdown-box">{% trans 'Sports & Fitness' %}</a>
                </div>
            </li>

            <!-- Formáty -->
            <li class="menu-dropdown group">
                <button class="menu-item">{% trans "Formats" %}</button>
                <div class="menu-dropdown-area">
                    <!-- Názvy formátů -->
                    <a href="#" class="menu-dropdown-box">FBX</a>
                    <a href="#" class="menu-dropdown-box">OBJ</a>
                    <a href="#" class="menu-dropdown-box">USDZ</a>
                    <a href="#" class="menu-dropdown-box">GLTF</a>
                    <a href="#" class="menu-dropdown-box">GLB</a>
                    <a href="#" class="menu-dropdown-box">STL</a>
                </div>
            </li>

            <!-- Software -->
            <li class="menu-dropdown group">
                <button class="menu-item">{% trans "Software" %}</button>
                <div class="menu-dropdown-area">
                    <!-- Názvy software -->
                    <a href="#" class="menu-dropdown-box">Blender</a>
                    <a href="#" class="menu-dropdown-box">3ds Max</a>
                    <a href="#" class="menu-dropdown-box">Maya</a>
                    <a href="#" class="menu-dropdown-box">Cinema 4D</a>
                </div>
            </li>

            <!-- Oddělovací svislá čára -->
            <li>
                <div class="split-line"></div>
            </li>

            <!-- Textury -->
            <li class="menu-dropdown group">
                <button class="menu-item">{% trans "Textures" %}</button>
            </li>
        </ul>
    </nav>
</div>