<!DOCTYPE html>
<!-- Načtení překladů a souborů -->
{% load i18n static %}
<html lang="{% trans 'Language' %}">
<head>
    <!-- Načtení Tailwind CSS -->
    {% load tailwind_tags %}
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeVat</title>
</head>
<body>
{% include "layout/header/header.html" %}
{% include "layout/navbar/navbar.html" %}

{% block content %}
<!-------------------------------
    Vlastní obsah každé stránky
--------------------------------->
{% endblock %}
{% include "layout/footer/footer.html" %}

<!-- Přepínání jazyků -->
<script src="{% static 'js/toggle_lang.js' %}"></script>
</body>
</html>