<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Načtení statických souborů a Tailwind CSS tagů -->
    {% load static tailwind_tags %}
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeVat</title>
</head>
<body>
{% include "layout/header/header.html" %}
{% include "base/divider.html" %}
{% include "layout/navbar/navbar.html" %}
{% include "base/divider.html" %}

{% block content %}
<!-------------------------------
    Vlastní obsah každé stránky
--------------------------------->
{% endblock %}
{% include "layout/footer/footer.html" %}
{% include "base/overlay.html" %}

<script src="{% static 'js/overlay.js' %}"></script>
</body>
</html>