<!-- Pro překlady a statické soubory -->
{% load i18n static %}

<header class="header">
    <div class="header-section">
        <!-- Logo -->
        <a href="{% url 'index' %}">
            <img src="{% static 'img/logos/web.svg' %}"
                 alt="{% trans 'Logo' %}"
                 class="web-icon">
        </a>

        <!-- Vyhledávací pole -->
        <div class="search">
            <!-- Ikona lupy -->
            <div class="search-icon-box">
                <img src="{% static 'img/icons/magnifying.svg' %}"
                     alt="{% trans 'Search' %}"
                     class="search-icon">
            </div>
            <input type="text"
                   placeholder='{% trans "Search" %}'
                   class="search-input">
        </div>

        <!-- Tlačítka - různé pro přihlášené/nepřihlášené uživatele -->
        <nav class="items-center">
            <ul class="flex space-x-4 items-center">
                {% if user.is_authenticated %}
                    <!-- Přihlášený uživatel (tlačítka přihlášení a registrace) -->
                    <li><a href="{% url 'upload' %}" class="button">{% trans "Upload" %}</a></li>
                    <li>
                        <a href="{% url 'profile' %}" class="profile-button">

                            <img src="{{ user.get_profile_picture }}"
                                 alt="{% trans 'Profile' %}"
                                 class="w-10 h-10 rounded-full">
                        </a>
                    </li>
                {% else %}
                    <!-- Nepřihlášený uživatel (tlačítka nahrání a uživatelského profilu) -->
                    <li><a href="{% url 'users:login' %}" class="button">{% trans "Log in" %}</a></li>
                    <li><a href="{% url 'users:register' %}" class="button">{% trans "Sign up" %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>